*, :before, :after {
    box-sizing: border-box;
}
a{
    text-align: center;
}
.wrapper {
    flex-grow: 2;
    width: 40vw;
    height: 100vh;
    margin: 0 auto;
}
h1 {
    margin: 0;
    font-size: 8em;
    font-weight: bolder;
    color: var(--dark-secondary);
}
p {
    text-align: center;
    font-size: 1.2em;
    line-height: 1.4;
    margin-bottom: 15px;
    color: var(--gray-font);
}

span {
    display: block;
    text-transform: uppercase;
    color: #b9ddfb;
    letter-spacing: 1.5px;
    text-align: center;
}

